
.outerDiv {
  padding: 15px 10px;
  margin: 20px;
  background: white;
}

.profileDetailsDiv {
  padding: 10px;
  margin: 10px;
  background: #f3f3f3;
}

.detailsList {
  background: white;
}

.detailsListItem {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.attrTitleSpan {
  width: 20%;
}

.attrValueSpan {
  width: 75%;
}
